body {
  background: #fafafa;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h2 {
  margin-top: 0;
}

.card {
  padding: 40px;
  background: #fff;
  max-width: 360px;
  border-radius: 20px;
  margin: 60px auto;
}

.highlight {
  font-weight: bold;
  color: #294;
}

.shadow1 { 
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.shadow2 { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
  
  a {
    color: #097659;
  }
  
  input {
    font-size: 1.5em;
  }
  
  .container {
    width: 960px;
    margin: auto;
    margin-top: 50px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .delete-store-link {
    color: red;
  }
  
  .editable {
    border: 1px solid black;
    padding: 20px;
  }
  
  #stores-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

  #new-item-form {
    display: none;
  }

  #new-price-form {
    display: none;
  }

  #new-quantity-form {
    display: none;
  }